

<div class="modal-dialog modal-fullscreen-xxl-down modal-dialog-scrollable">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">Product Page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- The body of the modal -->
      <div class="modal-body">

        <section class="modal-body__content">
          <div class="product-intro">
            <div class="product__heading">
              <h3 ng-bind="products[5].name"></h3>
        
              <div class="price-rating">
                <p ng-bind="products[5].price | currency: '₦'"></p>
                <div>
                  <img src="src/images/star.svg" alt="Star">
                  <p ng-bind="products[5].rating"></p>
                </div>
              </div>

              <div class="category">
                <p>Category:</p>
                <p ng-bind="products[5].category"></p>
              </div>
            </div>
        
            <div class="product__image">
              <img ng-src="{{products[5].mozjpeg_image}}" alt="{{products[5].name}} Image">
        
              <div class="product-buttons">
                <button>add a review</button>
                <button>add to cart</button>
              </div>
            </div>
          </div>

        
          <div class="product-info">
            <div class="accordion accordion-flush" id="productInformation">
              <!-- Description -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productDescription" aria-expanded="false" aria-controls="productDescription">
                    Description
                  </button>
                </h2>
                <div id="productDescription" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].description"></div>
                </div>
              </div>
        
              <!-- Origin -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productOrigin" aria-expanded="false" aria-controls="productOrigin">
                    Origin
                  </button>
                </h2>
                <div id="productOrigin" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].origin"></div>
                </div>
              </div>
        
              <!-- Health Benefits -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productBenefits" aria-expanded="false" aria-controls="productBenefits">
                    Health Benefits
                  </button>
                </h2>
                <div id="productBenefits" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].health_benefits"></div>
                </div>
              </div>
        
              <!-- Ingredients -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productIngredients" aria-expanded="false" aria-controls="productIngredients">
                    Ingredients
                  </button>
                </h2>
                <div id="productIngredients" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].ingredients"></div>
                </div>
              </div>
        
              <!-- Flavor Profile -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productFlavor" aria-expanded="false" aria-controls="productFlavor">
                    Flavor Profile
                  </button>
                </h2>
                <div id="productFlavor" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].flavor_profile"></div>
                </div>
              </div>
        
              <!-- Suggested Usage -->
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#productUsage" aria-expanded="false" aria-controls="productUsage">
                    Suggested Usage
                  </button>
                </h2>
                <div id="productUsage" class="accordion-collapse collapse" data-bs-parent="#productInformation">
                  <div class="accordion-body" ng-bind="products[5].suggested_usage"></div>
                </div>
              </div>
        
            </div>
          </div>

          <div id="reviewForm" ng-controller="reviewCtrl">
            <form>
              <input type="text" name="name" id="name" placeholder="Input your name" ng-model="name">
              <textarea name="reviewMessage" id="reviewMessage" placeholder="Input your review" cols="30" rows="10" ng-model="review"></textarea>
  
              <button type="submit" ng-click="postReview()">Submit</button>
            </form>
          </div>
        </section>

      </div>


      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
  </div>
</div>

