
@use '../utilities';

#gallery {

    transform: scale(.8);
    animation: growIn 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

    section {
        // The hero section
        &#hero {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block: 6rem 4rem;

            max-width: 1600px;
            margin-inline: auto;

            h1 {
                font-size: 5rem;
                line-height: 91.2%;
                text-transform: lowercase;
                max-width: 90%;
                margin-inline: auto;

                position: relative;

                @include utilities.breakpoint(xsmall) {
                    font-size: 6rem;
                }

                @include utilities.breakpoint(medium) {
                    font-size: 10rem;
                }

                @include utilities.breakpoint(large) {
                    font-size: 15rem;
                }
            }
        }

        &:not(:nth-child(1)) {
            padding: 3rem 1rem;

            @include utilities.breakpoint (medium) {
                padding: 4.5rem 1rem;
            }

            @include utilities.breakpoint (large) {
                padding: 6rem 1rem;
            }
        }

        &#gallery-content {
            background-color: var(--pink);
            border-radius: 1.25rem;

            section {
                max-width: 1600px;
                margin-inline: auto;

                padding: 3rem 1rem;

                @include utilities.breakpoint (medium) {
                    padding: 4.5rem 1rem;
                }

                @include utilities.breakpoint (large) {
                    padding: 6rem 1rem;
                }

                h2 {
                    font-size: 2rem;
                    font-family: var(--montserrat);
                    text-transform: lowercase;
                    border-bottom: 2px solid var(--black2);
                    padding-bottom: 1rem;

                    @include utilities.breakpoint (medium) {
                        font-size: 3.5rem;
                    }
                }

                .images {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    border-radius: 1.25rem;
                    background-color: var(--black1);

                    width: 90%;
                    margin-inline: auto;

                    @include utilities.breakpoint (medium) {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    .image {

                        max-height: 500px;

                        &:first-child {
                            grid-column: span 3;
                        }

                        &:nth-child(5),
                        &:nth-child(8) {
                            grid-column: span 2;
                        }
                    }

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                        transition: all .3s ease-in-out;

                        &:hover {
                            transform: scale(1.01);
                        }
                    }
                }

                &#products {
                    .images {
                        padding: 1rem;
                        gap: 1rem;

                        .image {

                            img {
                                &:hover {
                                    transform: scale(1.05);
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}