@use '../utilities';

#home {
    section {        
        font-size: 3rem;
        position: relative;
        // padding-inline: 1rem;

        &#hero {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-block: 6rem 4rem;

    
            h1 {
                font-size: 5rem;
                line-height: 91.2%;
                text-transform: lowercase;
                max-width: 90%;
                margin-inline: auto;
                margin-bottom: 6rem;
    
                @include utilities.breakpoint(xsmall) {
                    font-size: 6rem;
                }
    
                @include utilities.breakpoint(medium) {
                    font-size: 10rem;
                }
    
                @include utilities.breakpoint(large) {
                    font-size: 15rem;
                }
            }

            .slider {
                border: 2px solid var(--black1);
                border-radius: 1rem;
                width: 95%;
                // max-height: 500px;

                .carousel-inner {

                    border-radius: 1rem;

                    .carousel-item {
                        border-radius: 1rem;

                        img {
                            border-radius: 1rem;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        &:not(:nth-child(1)) {
            min-height: 100vh;
        }

        &#about {
            background-color: #A17876;

            .achievements {
                display: flex;
                flex-direction: column;
                gap: 5rem;
            }
        }

        &:nth-child(3) {
            background-color: aquamarine;
        }

        &:nth-child(4) {
            background-color: bisque;
        }

        &:nth-child(5) {
            background-color: darkseagreen;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }
}