
<!-- The Header -->
<header id="header" ng-include="'/src/components/header.html'" ng-controller="headerCtrl" class="flex"></header>

<!-- The Cart -->
<div ng-include="'/src/components/cart.html'" class="offcanvas offcanvas-end" tabindex="-1" id="cart" aria-labelledby="cartLabel" data-bs-scroll="false" ng-controller="productCtrl"></div>

<!-- The Main Content of The Page -->
<main id="about">
  <section id="hero">
    <h1>
      nice to meet you.
      <img id="smile-image" src="/src/images/smile.svg" alt="Smile Image">
    </h1>
  </section>

  <section id="who">
    <div class="who__content">
      <h2>who are we?</h2>
      <div class="who__main">
        <div class="text">
          Welcome to Flavors, where we believe that food has the power to connect people, cultures, and create extraordinary moments.
        </div>
        <div class="image">
          <img src="/src/images/other/cook-cutting.jpg" alt="A cook">
          <img src="/src/images/other/male-chef.jpg" alt="A cook">
        </div>
        <div class="text">
          We are on a mission to bring you a range of modern, affordable, and sophisticated seasonings that will ignite your palate and transport you on a culinary journey like never before.
        </div>
      </div>
    </div>
  </section>

  <section id="what">
    <div class="what__content">
      <h2>what we do.</h2>
      <div class="what__main">
        <div class="text">
          With Flavors by your side, every meal becomes an adventure. Our seasonings are your passport to a world of flavors, unlocking the potential of each dish and making every bite a moment to savor.
        </div>
        <div class="image">
          <img src="/src/images/other/food.jpg" alt="Food">
        </div>
        <div class="text">
          Whether you are a seasoned chef or an aspiring home cook, we invite you to embrace your inner culinary artist and let Flavors elevate your creations to new dimensions of taste.
        </div>
      </div>
    </div>
  </section>

  <section id="more">
    <div class="more__content">
      <h2>affordable sophistication for all!</h2>
      <div class="more__main">
        <div class="text">
          Sophistication should be accessible to everyone, and at Flavors, we believe in making it a reality.
        </div>
        <div class="image">
          <img src="/src/images/other/people-eating.jpg" alt="People Eating">
        </div>
        <div class="text">
          We strive to offer our premium seasonings at an affordable price, ensuring that everyone can experience the joy of adding a touch of culinary magic to their meals.
        </div>
      </div>
    </div>
  </section>

  <section id="join">
    <div class="join__content">
      <h2>join our flavorful community.</h2>
      <div class="join__main">
        <div class="newsletter">
          <p>
            Want more information about our company and upcoming events? <br>
            <a href="">Join Our Newsletter</a>
          </p>
        </div>
        <div class="contact">
          <h3>contact us</h3>
          <div>
            <p>Email: flavors.spice@gmail.com</p>
            <p>Phone: +234-703-198-2300</p>
            Address:
            <address>
              No. 3 Imaginary Street, <br>
              Lagos State, <br>
              Nigeria.
            </address>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- The Bottom Navigation -->
<div id="bottom-navigation" bottom-navigation page="$route.current.activePage"></div>

<!-- The Footer -->
<footer id="footer" ng-include="'/src/components/footer.html'" ng-controller="footerCtrl"></footer>