
<!-- The Header -->
<header id="header" ng-include="'/src/components/header.html'" ng-controller="headerCtrl" class="flex"></header>

<!-- The Cart -->
<div ng-include="'/src/components/cart.html'" class="offcanvas offcanvas-end" tabindex="-1" id="cart" aria-labelledby="cartLabel" data-bs-scroll="false" ng-controller="productCtrl"></div>

<!-- The Main Content of The Page -->
<main id="gallery">
  <section id="hero">
    <h1>view our photos.</h1>
  </section>

  <section id="gallery-content">    
    <section id="products">
      <h2>Showcasing Our Products</h2>

      <div class="images">
        <div class="image"><img src="/src/images/products/basic-seasoning-first-two.jpg" alt="Basic Seasoning Spices"></div>
        <div class="image"><img src="/src/images/products/basic-seasoning-second-two.jpg" alt="Basic Seasoning Spices"></div>
        <div class="image"><img src="/src/images/products/blended-seasoning-first-two.jpg" alt="Blended Seasoning Spices"></div>
        <div class="image"><img src="/src/images/products/blended-seasoning-second-two.jpg" alt="Blended Seasoning Spices"></div>
        <div class="image"><img src="/src/images/products/ethnic-&-international-first-two.jpg" alt="Ethnic and International Spices"></div>
        <div class="image"><img src="/src/images/products/ethnic-&-international-second-two.jpg" alt="Ethnic and International Spices"></div>
        <div class="image"><img src="/src/images/products/unique-&-signature-first-two.jpg" alt="Unique and Signature Spices"></div>
        <div class="image"><img src="/src/images/products/unique-&-signature-second-two.jpg" alt="Unique and Signature Spices"></div>
      </div>
    </section>

    <section id="other">
      <h2>Our Products In Use</h2>

      <div class="images">
        <div class="image"><img src="/src/images/other/people-eating.jpg" alt="People Eating"></div>
        <div class="image"><img src="/src/images/other/cook-spicing.jpg" alt="A cook"></div>
        <div class="image"><img src="/src/images/other/female-cook-tasting.jpg" alt="A cook"></div>
        <div class="image"><img src="/src/images/other/spiced-food.jpg" alt="Food"></div>
        <div class="image"><img src="/src/images/other/spices-on-table.jpg" alt="Spices"></div>
        <div class="image"><img src="/src/images/other/male-chef.jpg" alt="A cook"></div>
      </div>
    </section>
  </section>
</main>

<!-- The Bottom Navigation -->
<div id="bottom-navigation" bottom-navigation page="$route.current.activePage" links="galleryLinks2"></div>

<!-- The Footer -->
<footer id="footer" ng-include="'/src/components/footer.html'" ng-controller="footerCtrl"></footer>