
<header id="header" ng-include="'src/components/header.html'" ng-controller="headerCtrl" class="flex"></header>

<main id="gallery">
  <section id="hero">
    <h1>view our photos.</h1>
  </section>

  <section id="gallery-content">
    <h2>This is where the multiple images go</h2>
    
    <section id="people">
      <h2>The images about people</h2>
    </section>

    <section id="spices">
      <h2>The images about spices</h2>
    </section>
  </section>
</main>

<div id="bottom-navigation" bottom-navigation page="$route.current.activePage" links="galleryLinks"></div>

<footer id="footer" ng-include="'src/components/footer.html'" ng-controller="footerCtrl"></footer>