


<nav>
  <!-- <a id="back-to-top" href="#header">
    <img src="images/up-arrow.svg" alt="Up arrow" />
  </a> -->
  <a href="#header" id="back-to-top" onclick="lenis.scrollTo('#header')"><img src="src/images/bx-chevron-up.svg"></a>

  <ul>
    <li><a href="#about" onclick="lenis.scrollTo('#about')">About</a></li>
    <li><a href="#best" onclick="lenis.scrollTo('#best')">Best</a></li>
    <li><a href="#more" onclick="lenis.scrollTo('#more')">More</a></li>
    <li><a href="#news" onclick="lenis.scrollTo('#news')">News</a></li>
  </ul>
</nav>
