
<!-- <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"> -->

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="cartLabel">Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <div class="items">
      <div class="item">
        <h3>For Each Product, this div appears</h3>
        <p>I hope this is a work in the park</p>
        {{message}}
      </div>
    </div>

    <div class="send">
      <p>This is where the submit button and the total price will live</p>
      {{categories[2].products[2]}}
    </div>
  </div>

<!-- </div> -->