
<div class="footer-logo">
  <img ng-src="{{footerLogo}}" alt="Footer Logo">
</div>

<h4>Signup to our <a href="#">Newsletter</a></h4>

<div class="nav-links">

  <div class="navigation">
    <h5>Navigation</h5>
    <nav>
      <ul>
        <li><a href="#!home">home</a></li>
        <li><a href="#!products">products</a></li>
        <li><a href="#">gallery</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">sitemap</a></li>
      </ul>
    </nav>
  </div>

  <div class="categories">
    <h5>Categories</h5>
    <nav>
      <ul>
        <li><a href="#">basic seasoning</a></li>
        <li><a href="#">blended seasoning</a></li>
        <li><a href="#">ethnic and international flavors</a></li>
        <li><a href="#">unique and signature blends</a></li>
      </ul>
    </nav>
  </div>

  <div class="contact">
    <h5>Contact</h5>
    <div>
      <p class="email">flavors.spice@gmail.com</p>
      <p class="phone">+234-703-198-2300</p>
      <p class="address">
        No. 3 Imaginary Street, <br>
        Lagos State, <br>
        Nigeria.
      </p>
    </div>
  </div>
</div>

<div class="location">
  <p class="moving-text">
    <img src="src/images/flavors-icon.svg" />
    Country: {{country}}
    <img src="src/images/flavors-icon.svg" />
    State: {{state}}
    <img src="src/images/flavors-icon.svg" />
    City: {{city}}
    <img src="src/images/flavors-icon.svg" />
    Country: {{country}}
    <img src="src/images/flavors-icon.svg" />
    State: {{state}}
    <img src="src/images/flavors-icon.svg" />
    City: {{city}}
    <img src="src/images/flavors-icon.svg" />
    Country: {{country}}
    <img src="src/images/flavors-icon.svg" />
    State: {{state}}
    <img src="src/images/flavors-icon.svg" />
    City: {{city}}
    <img src="src/images/flavors-icon.svg" />
    Country: {{country}}
    <img src="src/images/flavors-icon.svg" />
    State: {{state}}
    <img src="src/images/flavors-icon.svg" />
    City: {{city}}
    <img src="src/images/flavors-icon.svg" />
  </p>
</div>