<a
  href=""
  ng-show="mobileView"
  id="menu-icon"
  class="menu-icon"
  ng-controller="mobileCtrl"
  ng-click="toggleMenu()"
>
  <img src="src/images/menu.svg" alt="Menu Icon" />
</a>

<!-- The mobile navigation -->
<div id="mobile-nav" class="mobile-nav" ng-controller="mobileCtrl">
  <ul>
    <li ng-click="toggleMenu()">
      <a
        href="#/home"
        ng-class="{'active-page': $route.current.activePage == 'home'}"
        >Home</a
      >
    </li>
    <li ng-click="toggleMenu()">
      <a
        href="#/products"
        ng-class="{'active-page': $route.current.activePage == 'products'}"
        >Products</a
      >
    </li>
    <li ng-click="toggleMenu()">
      <a
        href="#/about"
        ng-class="{'active-page': $route.current.activePage == 'about'}"
        >About</a
      >
    </li>
    <li ng-click="toggleMenu()">
      <a
        href="#/gallery"
        ng-class="{'active-page': $route.current.activePage == 'gallery'}"
        >Gallery</a
      >
    </li>
  </ul>

  <div class="close" ng-click="toggleMenu()">close</div>
</div>

<!-- The desktop navigation -->
<nav class="header-navigation" ng-show="mobileView != true">
  <ul>
    <li>
      <a
        href="#/home"
        ng-class="{'active-page': $route.current.activePage == 'home'}"
        >Home</a
      >
    </li>
    <li>
      <a
        href="#/products"
        ng-class="{'active-page': $route.current.activePage == 'products'}"
        >Products</a
      >
    </li>
    <li>
      <a
        href="#/about"
        ng-class="{'active-page': $route.current.activePage == 'about'}"
        >About</a
      >
    </li>
    <li>
      <a
        href="#/gallery"
        ng-class="{'active-page': $route.current.activePage == 'gallery'}"
        >Gallery</a
      >
    </li>
  </ul>
</nav>

<div id="logo" class="logo">
  <a href="#/home"
    ><img src="src/images/flavors-logo.svg" alt="Flavors Logo"
  /></a>
</div>

<div class="header-icons">
  <div class="counter">2</div>
  <a data-bs-toggle="offcanvas" href="#cart" role="button" aria-controls="cart"><img class="cart" src="src/images/cart.svg" alt="Cart Icon" /></a>
</div>
