* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    // font-families
    --share-tech: 'Share Tech', sans-serif;
    --montserrat: 'Montserrat', sans-serif;

    // Colors
    --pink-shadow: rgba(160, 34, 99, 0.25);
    --pink: #A02264;
    --orange: #DE5C2C;
    --orange-dark: #c84415;
    --black1: #232121;
    --black2: #1D2226;
    --white: #D9D9D9;
    --light-brown: #A17876;
    --beige: #E4C2AB;

    --pastel-blue: #B2B4CC;
    --pastel-orange: #F8AC67;
    --pastel-beige1: #FAD6D1;
    --pastel-beige2: #FFE4CC;
}

html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

body {
    background-color: var(--pastel-blue);
    font-family: var(--share-tech);
    transition: all .3s ease;

    &.no-scroll {
        overflow: hidden;
    }
}

header, .footer__content {
    max-width: 1600px;
    margin-inline: auto;
}


/* The marquee animation */
@keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@-moz-keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

@-webkit-keyframes marquee {
    to {
        transform: translateX(-50%);
    }
}

// Lenis Scroll
// html.lenis {
//     height: auto;
// }

// .lenis.lenis-smooth {
//     scroll-behavior: auto;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//     overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//     overflow: hidden;
// }

// .lenis.lenis-scrolling iframe {
//     pointer-events: none;
// }